# Cache do Python
__pycache__/
*.py[cod]

# Arquivos de backup
*.bkp

# Arquivos de configuração/segredos
.env
.env.*
!.env.example

# Ambiente virtual (A barra no final indica que é um diretório)
.venv/
venv/
ENV/
